body{
background: #fc5e03;
}
h1{
color: #3c1640;
font-size: 60px;
font-weight: 100;
text-align: center;
font-style: Arial;
}
li{
color: #162640;
font-size: 30px;
text-align: left;
font-style: Arial;
}