 body {
  background: #00FFFF;
}
p{
color: red;
font-size: 30px;
 font-weight: 100;
text-align: center;
font-style: Arial;
}

.furry-p{
color: black;
font-size: 30px;
 font-weight: 100;
text-align: center;
font-style: Arial;
}
h1{
color: #FF10F0;
font-size: 60px;
font-weight: 100;
text-align: center;
font-style: Arial;
}
p{
font-size: 30px;
font-weight: 100;
text-align: center;
font-style: Arial;
}

